%btn-shared {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    
    padding: 16px 23px ;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

    min-width: 210px;
    max-height: 60px;
}

